.header-wrapper {
    background-color: darkblue;
    margin: -15px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: white;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* .logo img {
    height: 100px;
    padding-left: 15px;
} */

.site-name {
    color: white;
    font-size: 30px;
}

.content-wrapper {
    margin: -15px;
    padding: 20px;
}

.site-intro {
    width: 500px;
}

.footer-wrapper {
    background-color: black;
    margin: -15px;
    padding: 15px;
}